.navbar{
    background: #ffffff;
    box-shadow: 0 2px 2px -2px rgba(26, 26, 26, 0.2);
    height: 15vh;
    padding-left: 30px;
    padding-right: 30px;
    .container-fluid{
        padding: 0 !important;
    }
    .navbar-brand{
        color: #2C0548;
        font-size: 30px;
        font-weight: bold;
        font-family: "Butler";
    }
    .nav-item{
        margin-left: 2.4rem;

    }
    .nav-item .nav-link{
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        font-weight: 500;
        padding-left: 0.6em;
        padding-right: 0.6em;
    }
    .register{
        border: 1.5px solid #2C0548;
        border-radius: 30px;
        .nav-link{
            color: #2C0548 !important;
        }
    }
    .login{
        display: none;
        color: #000000;
        font-weight: 500;
        text-decoration: none;
    }
    .menu{
        margin-right: 20px;
        display: none;
    }
    @media (max-width: 768px) {
        .menu{
            display: block;
        }
        .navbar-brand{
            font-size: 16px;
        }
        .login{
            display: block;
        }
    }
}

